<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhiskerReads</title>
</head>
<body>
    <img src="images/wrlogo.png" alt="WhiskerReads Logo">
    <h1>WhiskerReads</h1>
    <nav>
        <a href="/books">All Books</a>
        <a href="/bookclubs">Book Clubs</a>
        <a href="/login">Login/Sign Up</a>
    </nav>