<%- include('../partials/header.ejs')%>
<link rel="stylesheet" href="/css/newUser.css">

<div class="user-form-container">
    <form action='/users/' method='POST' class="user-form">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>
        
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>
        
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="8" required>
        <p class="password-hint">(Minimum 8 characters)</p>

        <input type="submit" value="Sign Up">
        
        <div class="signup-links">
            <p>Already have an account? <a href="/users/login">Log in</a></p>
        </div>
    </form>
</div>

<%- include('../partials/footer.ejs')%>