<%- include('./partials/header.ejs'); %>
    <main>
        <section id="hero">
            <h1 class="intro">Your Local Flower Marketplace</h1><br>
            <p>Where Every Petal Tells A Story</p>
        </section>
        <section id="about">
            <h2>About Us</h2>
            <p>Wonderland Marketplace is a vibrant online platform where flower enthusiasts can buy and sell flowers with ease. Whether you're looking for a gift for a special occasion or simply want to add a touch of beauty to your everyday life, Wonderland Marketplace has you covered.
                <br><br>
                List your flowers in seconds and connect with fellow flower lovers from around the world. Join Wonderland Marketplace today and discover the joy of flowers in your life!
            </p>
        </section>
    </main>
<%- include('./partials/footer.ejs'); %>